<div class="ui cards" id="restCards">
  <% for (var i in obj) { %>
    <% var profile = obj[i]; %>
    <div class="ui centered card">
      <div class="content">
        <% var type = profile.type %>
        <a class="header" onclick="showprofile('<%= type %>')"><%= type %></a>
        <div class="description">
          <% for (var j=0; j < 3;j++) { %>
            <div>
              <h5><%= profile.content[j].field %>: </h5><%= profile.content[j].info %>
            </div>
            <br/>
          <% } %>
        </div>
      </div>
      <div class="extra content">
        <div class='ui two buttons'>
          <div class='ui bottom attached teal button' onclick="showmodal('<%= type %>')"><i class='qrcode icon'></i>QR Code</div>
          <div id='<%= type %>' class="ui modal">
            <i class="close icon"></i>
            <div class="header">
              QR Code for <%= type %> Profile
            </div>
            <div class="image content">
              <div class="ui medium image">
                <img src="/static_qr_code_without_logo.jpg">
              </div>
            </div>
            <!-- <div class="image content">
              <div class="ui medium image">
                <img src="/images/avatar/large/chris.jpg">
              </div>
              <div class="description">
                <div class="ui header">We've auto-chosen a profile image for you.</div>
                <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
                <p>Is it okay to use this photo?</p>
              </div>
            </div>
            <div class="actions">
              <div class="ui black deny button">
                Nope
              </div>
              <div class="ui positive right labeled icon button">
                Yep, that's me
                <i class="checkmark icon"></i>
              </div>
            </div> -->
          </div>
          <% if (obj.length > 1) { %>
            <div class='ui bottom attached red button' id='del' onclick="delProfile('<%= type %>')">
                <i class='remove icon'></i>Remove
            </div>
          <% } %>
        </div>
      </div>
    </div>
  <% } %>
</div>