<div class="ui cards" id="restCards">
  <% for (var i in obj) { %>
    <% var profile = obj[i]; %>
    <div class="ui centered card">
      <div class="content">
        <% var type = profile.type %>
        <a class="header" onclick="showprofile('<%= type %>')"><%= type %></a>
        <div class="description">
          <% for (var j=0; j < 3;j++) { %>
            <div>
              <h5><%= profile.content[j].field %>: </h5><%= profile.content[j].info %>
            </div>
            <br/>
          <% } %>
        </div>
      </div>
      <% if (obj.length > 1) { %>
        <div class="extra content">
          <div class='ui red button' id='del' onclick="delProfile('<%= type %>')">
              <i class='remove icon'></i>Remove
          </div>
        </div>
      <% } %>
    </div>
  <% } %>
</div>